$colors: "red", "yellow", "blue";

@each $color in $colors {
  .btn-#{$color} {
    background-color: $color;
  }
}



@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}




